# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.tox/
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Models and Data
models/*.pkl
models/registry/
data/

# Logs
*.log

# Docker
.dockerignore
